@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
}
.header_contenedor {
    /* background: red; */
    position: relative;
    width: 100%;
    height: auto;
}
.foto_fondo {
    /* background: rebeccapurple; */
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.caja_link {
    /* background: greenyellow; */
}
.imagen_retroceso {
    background: var(--color-9);
    border-radius: 6px;
    padding: 4px 4px;
    position: absolute;
    right: 88%;
    top: 15%;
}


.div_central {
    background: var(--color-1);
    width: 85%;
    height: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 37%;
    left: 8%;
    gap: 16px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.caja_padre {
    /* background: rebeccapurple; */
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 20px;
    gap: 6px;
}
.titulito {
    /* background: palegreen; */
    width: 100%;
    display: flex;
}
.titulito h4:nth-child(1){   
    /* background: pink; */
    width: 60%;
    font-size: 14px;
    color: var(--color-8);
    font-family: "Inter-Semibold";
}
.titulito h4:nth-child(2){  
    /* background: blue;  */
    width: 70%;
    font-size: 14px;
    color: var(--color-2);
    font-family: "Inter-Semibold";
}
.ubication {
    /* background: brown; */
}
.ubication img{
    /* background: burlywood; */
    width: 10px;
    height: 12px;
}
.ubication span{
    /* background: blueviolet; */
    font-size: 12px;
    font-family: "Inter-Regular";
}
.calender {
    /* background: green; */
}
.calender img{
    /* background: greenyellow; */
    width: 11px;
    height: 12px;
}
.calender span{
    /* background: yellow; */
    font-size: 12px;
    font-family: "Inter-Regular";
}
.personas {
    /* background: orangered; */
    width: 70%;
    display: flex;
    margin-left: 7%;
}
.imagenes_personas {
    /* background: gold; */
    display: flex;
}
.imagenes_personas img:nth-child(1){
    background: transparent;
}
.imagenes_personas img:nth-child(2){
    background: transparent;
    position: relative;
    right: 15%;
}
.imagenes_personas img:nth-child(3){
    background: transparent;
    position: relative;
    right: 25%;
}
.numero_particiopants {
    /* background: palevioletred; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}
.numero_particiopants h4{
    /* background: aqua; */
    display: flex;
    font-size: 12px;
    font-family: "inter-medium";
}
