@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
}
.header_contenedor {
    /* background: red; */
    position: relative;
    width: 100%;
    height: auto;
}
.foto_fondo {
    /* background: rebeccapurple; */
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.caja_link {
    /* background: greenyellow; */
}
.imagen_retroceso {
    background: var(--color-9);
    border-radius: 6px;
    padding: 4px 4px;
    position: absolute;
    right: 88%;
    top: 15%;
}



.div_central {
    background: var(--color-1);
    width: 85%;
    height: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
    left: 8%;
    gap: 22px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
}
.caja_padre {
    /* background: rebeccapurple; */
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 20px;
    gap: 6px;
}
.titulito {
    /* background: palegreen; */
    width: 100%;
    display: flex;
    gap: 5px;
    /* justify-content: space-evenly; */
}
.titulito h4:nth-child(1){   
    /* background: pink; */
    /* width: 60%; */
    font-size: 14px;
    color: var(--color-8);
    font-family: "Inter-Semibold";
}
.titulito h4:nth-child(2){  
    /* background: blue;  */
    /* width: 70%; */
    font-size: 14px;
    color: var(--color-2);
    font-family: "Inter-Semibold";
}
.ubication {
    /* background: brown; */
}
.ubication img{
    /* background: burlywood; */
    width: 10px;
    height: 12px;
}
.ubication span{
    /* background: blueviolet; */
    font-size: 12px;
    font-family: "Inter-Regular";
}
.calender {
    /* background: green; */
}
.calender img{
    /* background: greenyellow; */
    width: 11px;
    height: 12px;
}
.calender span{
    /* background: yellow; */
    font-size: 12px;
    font-family: "Inter-Regular";
}
.personas {
    /* background: orangered; */
    width: 70%;
    display: flex;
    margin-left: 7%;
}
.imagenes_personas {
    /* background: gold; */
    display: flex;
}
.imagenes_personas img:nth-child(1){
    background: transparent;
}
.imagenes_personas img:nth-child(2){
    background: transparent;
    position: relative;
    right: 15%;
}
.imagenes_personas img:nth-child(3){
    background: transparent;
    position: relative;
    right: 25%;
}
.numero_particiopants {
    /* background: palevioletred; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}
.numero_particiopants h4{
    /* background: aqua; */
    display: flex;
    font-size: 12px;
    font-family: "inter-medium";
}

.contenido {
    /* background: rgb(30, 255, 0); */
    /* padding: 5px; */
    width: 100%;
    height: 10%;
    /* margin-top: 15%;
    margin-left: 4%; */
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  .encabezado_segundo{
    /* background: red; */
    /* padding: 5px; */
}
.encabezado_segundo span{
    /* background: rgb(133, 71, 71); */
    /* padding: 5px; */
    font-size: 14px;
    font-family: "inter-medium";
}
  
  .texto-visible {
    /* background: rgb(208, 255, 0); */
    /* padding: 5px; */
    display: inline; 
    color: var(--color-11);
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
  }
  
  .leer-mas {
    /* background: rgb(0, 174, 255); */
    /* padding: 5px; */
    color: var(--color-10);
    cursor: pointer;
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
    text-decoration: underline;
  }
  
  .ocultar {
    /* background: red; */
    padding: 5px;
    display: none;
  }
  
  .texto-adicional {
    /* background: rgb(174, 0, 255); */
    /* padding: 5px; */
    display: none;
    color: var(--color-11);
    font-size: 12px;
    font-family: "DM-Sans-Mixed";
  }
  
  #leer-mas:checked + label + .texto-adicional {
    /* background: rgb(255, 0, 98); */
    /* padding: 5px; */
    display: inline; 
  }
  
  #leer-mas:checked + label {
    /* background: rgb(255, 217, 0); */
    /* padding: 5px; */
    display: none; 
  }

  .mapa_info{
    /* background: red; */
    /* padding: 5px; */
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mapa_info span{
    /* background: blue; */
  }

  .mapa_info a{
    /* background: violet; */
    /* padding: 5px; */
  }

  .mapa_info img{
    /* background: gold; */
    /* padding: 5px; */
    width: 100%;
  }


.caja_buy {
    background: var(--color-1);
    padding: 10px;
    width: 100%;
    height: 70px;
    position: fixed;
    line-height: 20px;
    bottom: 0;
    display: flex;
}
.information_buy {
    /* background: blue; */
    /* padding: 5px; */
    width: 40%;
    height: 50px;
    margin: auto;
    margin-left: 22px;
}
.information_buy p{
    /* background: rebeccapurple; */
    font-size: 10px;
    font-family: "Inter-Regular";
}
.information_buy span{
    /* background: green; */
    font-size: 16px;
    font-family: "Inter-Semibold";
}
.buy {
    background: var(--color-2);
    margin: auto;
    margin-right: 15px;
    padding: 8px 8px;
    width: 30%;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.buy a{
    background: transparent;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    font-family: "inter-medium";
}

  

