:root{
    --color-1: #fff;
    --color-2: #761CBC;
    --color-3: #EDE9FF;
    --color-4: #FFF5D7;
    --color-5: #FFECEC;
    --color-6: #E4FFEA;
    --color-7: #2d264b83;
    --color-8: #000;
    --color-9: #ffffff57;
    --color-10: #0092FC;
    --color-11: #706D6D;
    --color-12: #91b5fd;
    --color-13: #F0DDFF;
}

@font-face {
    font-family: "Inter-Semibold";
    src: url(../storage/font/Inter/static/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/font/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "inter-medium";
    src: url(../storage/font/Inter/static/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: "DM-Sans-Mixed";
    src: url(../storage/font/DM_Sans/static/DMSans-Regular.ttf);
}