:root{
    --color-1: #fff;
    --color-2: #761CBC;
}

@font-face {
    font-family: "Inter-Semibold";
    src: url(../storage/font/Inter/static/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/font/Inter/static/Inter_18pt-Regular.ttf);
}