<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <title>ColdPlay Concert</title>
</head>
<body>
    <div class="imagen_header">
        <img src="../storage/img/coldplay-page2.svg">
    </div>
    <div class="retroceder">
        <a href="../index.html">a</a>
    </div>
    <header class="header_central">
        <div class="caja_padre">
            <div class="titulito">
                <h4>Coldplay:</h4>
                <h4>Music of the Spheres</h4>
            </div>
            <div class="ubication">
                <img src="../storage/img/ubicacion2.svg">
                <span>Gelora Bung Karno Stadium, Jakarta</span>
            </div>
            <div class="calender">
                <img src="../storage/img/calendario2.svg">
                <span>November 15 2023</span>
            </div>
        </div>
        <div class="personas">
            <div class="imagenes_personas">
                <img src="../storage/img/icon1.svg">
                <img src="../storage/img/icon2.svg">
                <img src="../storage/img/icon3.svg">
            </div>
            <div class="numero_particiopants">
                <h4>50K+ Participants</h4>
            </div>
        </div>
    </header>
</body>
</html>