<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <title>ColdPlay Concert</title>
</head>
<body>
    <header class="header_contenedor">
        <img class="foto_fondo" src="../storage/img/onedirection-page2.svg">
        <a class="caja_link" href="../index.html"><img class="imagen_retroceso" src="../storage/img/menorq.svg"></a>
    </header>  
    <div class="div_central">
        <div class="caja_padre">
            <div class="titulito">
                <h4>One Direction:</h4>
                <h4>Where We Are</h4>
            </div>
            <div class="ubication">
                <img src="../storage/img/ubicacion2.svg">
                <span>Jakarta, Indonesia</span>
            </div>
            <div class="calender">
                <img src="../storage/img/calendario2.svg">
                <span>October 29 2023</span>
            </div>
        </div>
        <div class="personas">
            <div class="imagenes_personas">
                <img src="../storage/img/icon1.svg">
                <img src="../storage/img/icon2.svg">
                <img src="../storage/img/icon3.svg">
            </div>
            <div class="numero_particiopants">
                <h4>50K+ Participants</h4>
            </div>
        </div>
        <div class="contenido">
            <div class="encabezado_segundo">
                <span>Descripcion</span>
            </div>
            <p class="texto-visible">
                Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
              <input type="checkbox" id="leer-mas" class="ocultar">
              <label for="leer-mas" class="leer-mas">Leer más</label>
              <span class="texto-adicional">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, assumenda. Fugiat provident quia eaque repellendus libero, laudantium iusto eius cum vitae rerum temporibus neque et architecto veniam eligendi qui esse!
              </span>
            </p>
            <div class="mapa_info">
                <span>Venue & Location</span>
                <a href="https://www.google.com/maps/place/San+Francisco,+California,+EE.+UU./@37.7576928,-122.4787995,13z/data=!3m1!4b1!4m6!3m5!1s0x80859a6d00690021:0x4a501367f076adff!8m2!3d37.7749295!4d-122.4194155!16zL20vMGQ2bHA?hl=es&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D"><img src="../storage/img/Mask group.svg" alt=""></a>
            </div> 
        </div>
    </div>
    <div class="caja_buy">
        <div class="information_buy">
            <p>Start from</p>
            <span>IDR800.000</span>
        </div>
        <div class="buy">
            <a href="../views2/onedirection.html">Buy Ticket</a>
        </div>
    </div>     
</body>
</html>